<mat-card class="card mat-elevation-z8">
   <mat-card-header>
     <mat-card-title>Sistema Help desk</mat-card-title>
  
   </mat-card-header>
   <img mat-card-image src="assets/img/home-image.svg" alt="Image Home Help Desk">
   <mat-card-content>
     <p>
  Olá! Este é um projeto desenvolvido para a disciplina de Usabilidade, Desenvolvimento Web, Mobile e Jogos.
  <br />
  Trata-se de um sistema de Help Desk, uma plataforma centralizada para gerenciar e solucionar solicitações de suporte dos usuários, otimizando o atendimento.
  <br />
  O projeto foi construído com Angular 12 no front-end e Spring Boot 2 no back-end, utilizando conceitos como aplicações de página única (SPA) e autenticação com Tokens JWT.
  <br /><br /> 
  Sinta-se à vontade para testar o sistema!
</p>
   </mat-card-content>
 </mat-card>